<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="header"
	class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
	<div class="ui container">
		<div class="ui inverted secondary stackable menu">
			<a href="/">
				<h2 class="ui teal header item"	th:text="${headerViewModel.webConfig.webName}"></h2>
			</a> 
			<a id="home" href="/home" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
			<!-- <a href="/types" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a> -->
			<a id="tags" href="/tags" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a> 
			<a id="archives" href="/archives" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a> 
			<a id="aboutMe" href="/aboutMe" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
			<div class="right m-item item m-mobile-hide">
				<div class="ui icon inverted transparent input">
					<input type="text" placeholder="搜索..."> <i
						class="search link icon"></i>
				</div>
			</div>
		</div>
	</div>
	<a href="#"
		class="ui menu toggle black icon button m-right-top m-mobile-show">
		<i class="sidebar icon"></i>
	</a>
</nav>

</html>