<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<!--设置移动端的自由缩放 -->
		<meta name="viewport" content="width=devicce-width,initial-scale=1.0" />
		<title>Gray Blog</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" />
		<link rel="stylesheet" href="css/typo.css" />
		<link rel="stylesheet" href="css/animate.min.css" />
		<link rel="stylesheet" href="lib/prism/prism.css" />
		<link rel="stylesheet" href="lib/tocbot/tocbot.css" />
		<link rel="stylesheet" href="lib/editormd/css/editormd.css" />
		<link rel="stylesheet" href="css/me.css" />
	</head>
	<body>
		<!--导航 -->
		<div th:replace="html/common/header :: header"></div>

		<!-- 中间内容-->
		<div id="waypoint" class="m-container-small m-padded-tb-big animated fadeIn">
			<div class="ui container">
				<!-- 头部区域 -->
				<div class="ui top attached segment">
					<div class="ui horizontal link list">
						<div class="item">
							<img src="img/avatar.png" alt="" class="ui avatar image">
							<div class="content"><a href="/aboutMe" th:text="${blogViewModel.webConfig.name}" class="header"></a></div>
						</div>
						<div class="item">
							<i class="calendar icon"></i><i th:text="${blogViewModel.article.createdTime}"></i>
						</div>
						<div class="item">
							<i class="eye icon"></i><i th:text="${blogViewModel.article.visits}"></i>
						</div>
					</div>
				</div>
				<!-- 图片区域 -->
				<div class="ui attached segment">
					<img src="" alt="" class="ui fluid rounded image">
				</div>
				<!-- 正文内容区域 -->
				<div id="articleId" th:data-value="${blogViewModel.article.id}" class="ui attached padded segment">
					<!-- 文章类型 -->
					<div class="ui right aligned basic segment">
						<div th:id="${blogViewModel.article.type}" th:text="${blogViewModel.article.type}" class="ui orange basic label"></div>
					</div>
					<!-- 文章标题 -->
					<h2 th:text="${blogViewModel.article.title}" class="ui center aligned header"></h2>
					<br />
					<!-- 文章主要内容 -->
					<div id="content" class="typo typo-selection js-toc-content m-padded-lr-reponsive m-margin-top">
						<textarea style="display:none;" th:text="${blogViewModel.content}"></textarea>
					</div>
				<!-- 标签 -->
				<div class="m-padded-lr-reponsive m-padded-tb-large">
					<div th:each="label : ${blogViewModel.article.labels}" th:text="${label.label}" class="ui basic teal left pointing label"></div>
				</div>
				<!-- 赞赏 -->
				<div class="ui center aligned basic segment">
					<button id="payButton" class="ui orange basic circular button">赞赏</button>
				</div>
				<!-- 赞赏付款二维码 -->
				<div class="ui payQR flowing popup transition hidden">
					<div class="ui orange basic label">
						<div class="ui images" style="font-size: inherit !important">
							<div class="image">
								<img src="img/alipay.png" alt="" class="ui rounded bordered image" style="width: 120px">
								<div>支付宝</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<!-- 博客信息区域 -->
				<div class="ui attached positive message">
					<div class="ui middle aligned grid">
						<!-- 基本信息部分 -->
						<div class="eleven wide column">
							<ui class="list">
								<li th:text="'作者：' + ${blogViewModel.webConfig.name}"></li>
								<li th:text="'发表时间：' + ${blogViewModel.article.createdTime}"></li>
								<li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
								<li>公众号转载：请在文末添加作者二维码</li>
							</ui>
						</div>
						<!-- 微信公众号二维码部分 -->
						<div class="five wide  column">
							<img src="img/wechat.jpg" alt="" class="ui right floated  rounded bordered image" style="width: 110px">
						</div>
					</div>
				</div>
				<!-- 用户留言区域 -->
				<div id="comment-container" class="ui bottom attached segment">
				<!-- 留言区域列表 -->
				<div class="ui teal segment">
					<div class="ui comments">
					  <h3 class="ui dividing header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">评论(功能暂未上线)</font></font></h3>
					  
					  <div class="comment" th:each="review : ${blogViewModel.reviews}">
					    <a class="avatar">
					      <img src="img/user.png">
					    </a>
					    <div class="content">
					      <a class="author"><font style="vertical-align: inherit;"><font th:id="'review_' + ${review.id}" th:text="${review.reviewerName}" style="vertical-align: inherit;"></font></font></a>
					      <div class="metadata">
					        <span class="date"><font style="vertical-align: inherit;"><font th:text="${review.date}" style="vertical-align: inherit;"></font></font></span>
					      </div>
					      <div class="text">
					        <p><font style="vertical-align: inherit;"><font th:text="${review.content}" style="vertical-align: inherit;"></font></font></p>
					      </div>
					      <div class="actions">
					        <a th:id="${review.id}" onclick="reply(this)" class="reply"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">回复</font></font></a>
					      </div>
					    </div>
					    <div class="comments">
					      <div class="comment" th:each="reply : ${review.replys}">
					        <a class="avatar">
					          <img src="img/user.png">
					        </a>
					        <div class="content">
					          <a class="author"><font style="vertical-align: inherit;"><font th:text="${reply.reviewerName}" style="vertical-align: inherit;"></font></font></a>
					          <div class="metadata">
					            <span class="date"><font style="vertical-align: inherit;"><font th:text="${reply.date}" style="vertical-align: inherit;"></font></font></span>
					          </div>
					          <div class="text"><font style="vertical-align: inherit;"><font th:text="${reply.content}" style="vertical-align: inherit;"></font></font></div>
					        </div>
					      </div>
					    </div>
					  </div>
					  
					</div>
				</div>
				<!-- 提交留言区域 -->
				<div class="ui form">
					<!-- 留言内容输入 -->
					<div class="field">
						<textarea id="review" name="content" placeholder="请输入评论信息..."></textarea>
					</div>
					<!-- 留言用户基本信息 -->
					<div class="fields">
						<div class="field m-mobile-wide m-marign-bottom-small">
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input id="user" type="text" name="nickname" placeholder="姓名" />
							</div>
						</div>
						<div class="field m-mobile-wide m-marign-bottom-small">
							<div class="ui left icon input">
								<i class="user icon"></i>
								<input id="email" type="text" name="Email" placeholder="邮箱" />
							</div>
						</div>
						<div class="field m-marign-bottom-small m-mobile-wide">
							<button id="submit" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		
		<!-- 平滑滚动jQuery.srcollTo -->
		<div id="toolbar" class="animated rubberBand m-padded m-fixed m-right-bottom " style="display: none;">
			<div class="ui vertical icon buttons ">
				<button type="button" class="ui toc teal button">目录</button>
				<a href="#comment-container" class="ui teal button">留言</a>
				<button class="ui wechat icon button"><i class="wechat icon"></i></button>
				<div id="toTop-button" class="ui icon  button"><i class="chevron up icon"></i></div>
			</div>
		</div>
		<!-- 弹出二维码 -->
		<div id="qrcode" class="ui wechat-qr flowing popup transition hidden " style="width: 130px !important;">
			<!-- <img src="static/image/wechat.jpg" alt="" class="ui rounded image" style="width: 110px;"> -->
		</div>
		<!-- 弹出目录 -->
		<div class="ui toc-container flowing popup transition hidden" style="width: 250px;">
			<h3>生成的文章目录</h3>
			<ol class="js-toc">
				
			</ol>
		</div>
		
		<!-- 底部换行，增加间距 -->
		<br/>
		<br/>
		<br/>
		<!-- 底部内容-->
		<div th:replace="html/common/footer :: footer"></div>
		
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
		<script src="https://cdn.bootcss.com/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
		<script src="lib/editormd/lib/marked.min.js"></script>
		<script src="lib/editormd/lib/prettify.min.js"></script>
		<script src="lib/editormd/lib/raphael.min.js"></script>
		<script src="lib/editormd/lib/underscore.min.js"></script>
		<script src="lib/editormd/lib/sequence-diagram.min.js"></script>
		<script src="lib/editormd/lib/flowchart.min.js"></script>
		<script src="lib/editormd/lib/jquery.flowchart.min.js"></script>
		<script src="lib/editormd/editormd.min.js"></script>
		<script src="lib/prism/prism.js"></script>
		<script src="lib/qrcode/qrcode.min.js"></script>
		<script src="lib/waypoints/jquery.waypoints.min.js"></script>
		<script src="lib/tocbot/tocbot.min.js"></script>
		<script type="text/javascript">
    		var testEditor;
		    $(function () {
		        testEditor = editormd.markdownToHTML("content", {//注意：这里是上面DIV的id
		            htmlDecode: "style,script,iframe",
		            emoji: true,
		            taskList: true,
		            tex: true, // 默认不解析
		            flowChart: true, // 默认不解析
		            sequenceDiagram: true, // 默认不解析
		            codeFold: true,
		    	});
		    });
 		</script>
		<script>

			$("#转载").addClass("blue");
			$("#原创").addClass("orange");
			$("#翻译").addClass("green");
			// 手机端隐藏菜单
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
			// 点击赞赏,显示二维码
			$('#payButton').popup({
				popup : $('.payQR.popup'),
				on : 'click',
				position : 'bottom center'
			});
			
			// 初始化目录.使用插件
			tocbot.init({
			  // Where to render the table of contents.
			  tocSelector: '.js-toc',
			  // Where to grab the headings to build the table of contents.
			  contentSelector: '.js-toc-content',
			  // Which headings to grab inside of the contentSelector element.
			  headingSelector: 'h1, h2, h3',
			  // For headings inside relative or absolute positioned containers within content.
			  hasInnerContainers: true,
			});
			
			// 点击目录,显示目录
			$('.toc.button').popup({
				popup : $('.toc-container.popup'),
				on : 'click',
				position : 'left center'
			});
			// 显示微信二维码
			$('.wechat').popup ({
				popup : $('.wechat-qr'),
				position : 'left center'
			});
			var qrcode = new QRCode("qrcode", {
			    text: "http://jindo.dev.naver.com/collie",
			    width: 110,
			    height: 110,
			    colorDark : "#000000",
			    colorLight : "#ffffff",
			    correctLevel : QRCode.CorrectLevel.H
			});
			// 平滑滚动至头部
			$('#toTop-button').click(function(){
				$(window).scrollTo(0,500);
			});
			
			// 滚动检测
			var waypoint = new Waypoint({
			  element: document.getElementById('waypoint'),
			  handler: function(direction) {
				  if(direction == 'down'){
					  $('#toolbar').show(500);
				  }else{
					  $('#toolbar').hide(500);
				  }
			  console.log('Scrolled to waypoint!' + direction);
			  }
			})
			
			// 评论提交
			$("#submit").click(
		        function () {
		        	if($("#review").val() != "")
		            	submitReview();
		        })
		    
		    var replyId = -1;
			var replyName = "";
			
		    function submitReview() {
		    	if(replyId != -1) {
		    		if($("#review").val().search(replyName) != 0){
		    			replyId = -1;
		    		}
		    	}
		    	
				var articleId = $("#articleId").attr("data-value");
		        var reviewerName = $("#user").val() == "" ? "匿名" : $("#user").val();
		        var reviewerEmail = $("#email").val();
		        var content = $("#review").val();
		        var isReply = (replyId != -1);
		        
		        $.ajax({
		            url: "/admin/upload/review",
		            data: {
		            	articleId: articleId,
		            	reviewerName: reviewerName,
		            	reviewerEmail: reviewerEmail,
		            	content: content,
		            	isReply: isReply,
		            	replyId: replyId
		            },
		            success:function () {
			            window.location.reload(true);
		            },
		            error:function () {
		                alert("发布失败");
		            }
		        })
		    }
			
			// 评论回复
			function reply(obj) {
				replyId = obj.id;
				replyName = "@" + $("#review_" + obj.id).text() + "  ";
				$("#review").val(replyName);			
			}
		</script>
	</body>
</html>
