<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Beself_zjh</title>
	<link rel="stylesheet" type="text/css" href="css/navigation.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script type="text/javascript" charset="utf-8" src="js/index.js"></script>
	<script>
		function show(){
			document.getElementById("navigation").style.display = "block";
		}
		function hide(){
			document.getElementById("navigation").style.display = "none";
		}
	</script>
	<script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/vidbg.min.js"></script> 
	<!-- <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script> -->
</head>
<body>
	<div th:replace="html/common/navigation :: navigation"></div>
	<div id="large-header" class="large-header">
		<canvas id="demo-canvas"></canvas>
		<h1 class="main-title"><span>Spirit</span></h1>
	</div>
	<!-- <script src="js/TweenLite.min.js"></script>
	<script src="js/EasePack.min.js"></script> -->
	<script src="js/rAF.js"></script>
	<script src="js/demo-2.js"></script>	
</body>

</html>
<!-- <div data-vidbg-bg="mp4: img/mp4_video_1.3gp, 
                 	 poster: img/fallback.jpg"
  	 data-vidbg-options="loop: true, muted: true, overlay: true"</div> -->